HelloWorldiOS/.DS_Store
HelloWorldiOS/HelloWorldiOS.xcodeproj/project.xcworkspace/contents.xcworkspacedata
HelloWorldiOS/HelloWorldiOS.xcodeproj/project.xcworkspace/xcuserdata/m0p0qkq.xcuserdatad/UserInterfaceState.xcuserstate
HelloWorldiOS/HelloWorldiOS.xcodeproj/xcuserdata/m0p0qkq.xcuserdatad/xcschemes/xcschememanagement.plist
.tmp/